* {
    margin: 0 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.hiddenScroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* .Mpicture {
    display: flex;
   
} */
.container {
    background-color: transparent;
}

body {
    background-image: url("../Picture/MainScreen.png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.Fter {
    /* position: absolute; */
    position: fixed;
    top: calc(100vh - 15vw);
    left: 0;
    width: 100%;
    height: 15vw;
    z-index: 3;
    color: #f9f9f9;
    font-family: 'Itim', cursive;
    font-size: 2vw;
}

.menuLeft {
    /* display: flex; */
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20vw;
    z-index: 3;
    color: #f9f9f9;
    font-family: 'Itim', cursive;
    font-size: 2vw;
    visibility: hidden;
}

.background {
    background-image: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f9f9f9;
}

.headfooter {
    margin-top: 1vw;
    margin-left: 5vw;
    display: flex;
}

.flex {
    display: flex;
}

.footerimg1 {
    margin-right: 0.5vw;
    width: 2vw;
    height: 2vw;
}

.footerimg2 {
    margin-right: 0.5vw;
    height: 4vw;
}

.textfooter {
    cursor: context-menu;
    font-size: 1.5vw;
}

/* .contender:hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 20vw;
    height: 100%;
    background-color: #73a6e0;
} */

/* .contender:hover i{
    color: transparent;
} */

.iframe {
    position: absolute;
    top: 10vh;
    height: 70vh;
    width: 70vw;
    background-color: #64b3ac6c;
    border-radius: 30px;
}

.information-text {
    cursor: context-menu;
    margin-bottom: 2vw;
}

.mini-bar {
    display: flex;
    position: absolute;
    top: 83vh;
    height: 5vh;
    gap: 1vw;
}

.mini-img {
    /* display: none; */
    width: 0;
    height: 0;
    transition: 1s;
    border-radius: 15px;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
}

.mini-img-2 {
    position: relative;
    width: 50vw;
    height: 25vw;
    border-radius: 15px;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
}

.mini-img-3 {
    /* width: 10vw; */
    height: 10vw;
    border-radius: 15px;
    /* transition: .5s; */
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
}

.mini-img-4 {
    /* width: 10vw; */
    height: 15vw;
    border-radius: 15px;
    /* transition: .5s; */
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
}

.mini-img-5 {
    /* width: 10vw; */
    height: 15vw;
    border-radius: 15px;
    /* transition: .5s; */
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
}

.mini-img-6 {
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
}

.imgt1:hover .mini-img1.mini-img {
    position: fixed;
    top: 18vh;
    width: 50vw;
    height: 25vw;
    /* display: flex; */
}

.imgt2:hover .mini-img2.mini-img {
    position: fixed;
    top: 20vh;
    width: 50vw;
    height: 25vw;
    /* display: flex; */
}

.imgt3:hover .mini-img3.mini-img {
    position: fixed;
    top: 20vh;
    width: 50vw;
    height: 25vw;
    /* display: flex; */
}

.mini-img-3:hover {
    position: fixed;
    top: 18vh;
    width: 50vw;
    height: 25vw;
    z-index: 20;

    /* display: flex; */
}

.mini-img-4:hover {
    position: fixed;
    top: 18vh;
    width: 50vw;
    height: 25vw;
    z-index: 20;

    /* display: flex; */
}

.mini-img-5:hover {
    position: fixed;
    top: 18vh;
    /* width: 25; */
    height: 25vw;
    z-index: 20;

    /* display: flex; */
}

.mini-img-6:hover {
    position: fixed;
    top: 18vh;
    left: 39vw;
    width: 22vw;
    height: 25vw;
    z-index: 20;

    /* display: flex; */
}

.mini-bar-text {
    cursor: pointer;
    background-color: #64b3ac6c;
    padding: 0.5vw;
    padding-top: 0.25vw;
    padding-bottom: 2vw;
    border-radius: 5px;
    font-size: 1.5vw;
    font-family: 'Itim', cursive;
}

.mini-bar-text:hover {
    background-color: #6461ff;
    color: #ffffff;
}

.gthieuHtn {
    color: #233649;
    margin-right: 1vw;
}

.disappearReal {
    display: none;
}

.image {
    width: 10vw;
    height: 10vw;
    border-radius: 15px;
}

.search-margin {
    position: absolute;
    top: 6vw;
    left: 6vw;
}

.search-bar {
    width: 40vw;
    border-radius: 20px;
    border: #3a3b3c 0.25vw solid;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    font-family: 'Itim', cursive;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
}

.information-cards {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax (80vw, 1fr)); */
    gap: 0.5vw;
    margin-top: 1vw;
}

.card {
    /* display: flex; */
    font-family: 'Itim', cursive;
    gap: 1vw;
    width: 80vw;
    height: fit-content;
    padding: 1vw;
    border-radius: 20px;
    background-color: #3a3b3c33;
    margin-top: 1vw;
}

.header {
    cursor: context-menu;
    font-size: 2.5vw;
    font-weight: 600;
}

.body {
    cursor: context-menu;
    max-width: 65vw;
    font-size: 1.5vw;
}

.disappear {
    visibility: hidden;
}

.bars {
    /* position: absolute; */
    position: fixed;
    top: 3vw;
    left: 3vw;
    font-size: 2.25vw;
}

.moveUp {
    /* position: absolute; */
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    font-size: 2.25vw;
    padding: 0.5vw;
    border: 0.2vw solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.moveDown {
    /* position: absolute; */
    position: fixed;
    bottom: 17vw;
    /* top: calc(100vh - 17vw); */
    right: 3vw;
    font-size: 2.25vw;
    padding: 0.5vw;
    border: 0.2vw solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.ocd {
    /* position: absolute; */
    position: fixed;
    z-index: 6;
    cursor: pointer;
}

.a {
    /* position: absolute; */
    position: fixed;
    z-index: 6;
    cursor: pointer;
}

.odc {
    /* position: absolute; */
    position: fixed;
    z-index: 4;
    cursor: pointer;
}

.b {
    /* position: absolute; */
    position: fixed;
    z-index: 6;
    cursor: pointer;
}

.abc {
    top: 2vw;
    /* top: 3vw; */
    left: 18vw;
    /* font-size: 2.25vw; */
    font-size: 4vw;
}

.main {
    top: 0;
    left: 0;
    /* position: absolute; */
    position: fixed;
    z-index: 3;
    width: 22vw;
    height: 100%;
    background-color: #73a6e0;
}

.main2 {
    bottom: 0;
    left: 0;
    /* position: absolute; */
    position: fixed;
    z-index: 3;
    height: 15vw;
    width: 100%;
    background-color: #141414;
}

.buttonChoosing1 {
    cursor: pointer;
    position: absolute;
    width: 20vw;
    height: 5vw;
    border-radius: 20px;
    bottom: 6vw;
    left: 12.75vw;
    font-size: 2vw;
    font-family: 'Itim', cursive;
    visibility: hidden;
}

.buttonChoosing2 {
    cursor: pointer;
    position: absolute;
    width: 20vw;
    height: 5vw;
    border-radius: 20px;
    bottom: 6vw;
    right: 40vw;
    font-size: 2vw;
    font-family: 'Itim', cursive;
    visibility: hidden;
}

.buttonChoosing3 {
    cursor: pointer;
    position: absolute;
    width: 20vw;
    height: 5vw;
    border-radius: 20px;
    bottom: 6vw;
    right: 12.75vw;
    font-size: 2vw;
    font-family: 'Itim', cursive;
    visibility: hidden;
}

.menuH {
    position: absolute;
    top: 6.75vw;
    left: 1vw;
    transition: 1s;
}

/* .menuT1:hover~.menuH {
    position: absolute;
    top: 3.25vw;
    left: 1vw;
} */

/* .menuT2:hover~.menuH {
    position: absolute;
    top: 6.75vw;
    left: 1vw;
} */

.menuT3:hover~.menuH {
    position: absolute;
    top: 10.25vw;
    left: 1vw;
}

.menuT4:hover~.menuH {
    position: absolute;
    top: 13.70vw;
    left: 1vw;
}

.menuT5:hover~.menuH {
    position: absolute;
    top: 17.15vw;
    left: 1vw;
}

.menuHtn {
    position: absolute;
    top: 10.25vw;
    left: 1vw;
    transition: 1s;
}

/* .menuT1:hover~.menuHtn {
    position: absolute;
    top: 3.25vw;
    left: 1vw;
} */

.menuT2:hover~.menuHtn {
    position: absolute;
    top: 6.75vw;
    left: 1vw;
}

/* .menuT3:hover~.menuHtn {
    position: absolute;
    top: 10.25vw;
    left: 1vw;
} */

.menuT4:hover~.menuHtn {
    position: absolute;
    top: 13.70vw;
    left: 1vw;
}

.menuT5:hover~.menuHtn {
    position: absolute;
    top: 17.15vw;
    left: 1vw;
}

.type1 {
    width: 20vw;
    height: 50vh;
    display: flex;
    background: #e9e9e9;
    border: 0.2vw solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    align-items: center;
    z-index: 1;
    cursor: pointer;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.type2 {
    width: 20vw;
    height: 50vh;
    display: flex;
    background: #e9e9e9;
    border: 0.2vw solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    align-items: center;
    z-index: 1;
    cursor: pointer;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.type3 {
    width: 20vw;
    height: 50vh;
    display: flex;
    background: #e9e9e9;
    border: 0.2vw solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    align-items: center;
    z-index: 1;
    cursor: pointer;
    /* background-image: url("../Picture/Hinghoi.gif"); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(20px); */
}

.paragraph {
    font-size: 2.5vw;
    font-family: 'Itim', cursive;
    margin: auto;
}

/* .tch {
    position: absolute;
    top: 3vw;
    left: 0.5vw;

} */

.moveNonActive {
    display: flex;
    justify-content: space-between;
    margin-top: 13vw;
    width: 75vw;
    color: black;
}

.moveActive {
    display: flex;
    justify-content: space-between;
    /* margin-top: 10vw; */
    margin-top: 8vw;
    width: 75vw;
    /* color: transparent; */
}

/* .type1:hover .move:has(.type1),
.type2:hover .move:has(.type2),
.type3:hover .move:has(.type3) {
    display: flex;
    justify-content: space-between;
    margin-top: 10vw;
    width: 75vw;
    color: transparent;
} */


.box {
    display: inline-flex;
    padding: 3vh 3vw;
    background-color: rgb(69, 156, 255);
    position: absolute;
    right: 0;
    top: 80vh;
    transition: 1s;
    z-index: 1;
    cursor: pointer;
}

.textDeco {
    text-decoration: none;
    color: #f9f9f9;
}

.textCursor1 {
    cursor: context-menu;
}

.menuMar {
    margin-top: 1vw;
    margin-left: 4vw;
}

.text {
    cursor: context-menu;
    text-decoration: none;
    color: #f9f9f9;
    font-size: 2.5vw;
    font-family: 'Itim', cursive;
}

.box:hover {
    background-color: rgb(30, 60, 94);
    border-radius: 30px 0 0 30px;
}

/* .box-disappear {
    display: none;
} */

/* .box a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2vh;
    width: 100%;
    height: 0.1vh;
    background: #f9f9f9;
    border-radius: 0.1vh;
    transform: scaleX(0);
    transition: 0.5s;
    z-index: 10;
}
.box a::after:hover {
    transform: scaleX(1);
    z-index: 10;
} */
.wrapper {
    display: flex;
    position: relative;
    /* position: absolute; */
    top: 13vh;
    width: 30vw;
    height: 33vw;
    background: transparent;
    border: 0.2vw solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    margin: auto;
    align-items: center;
    justify-content: center;
    /* transition: transform .5s ease, height .2s ease;
    transform: scale(0); */
    overflow: hidden;
}

.login {
    position: absolute;
    left: 15vw;
}

.signup {
    position: absolute;
    right: 15vw;
}


.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active1 {
    height: 39vw;
    top: 6vh;
}

.wrapper .form-box {
    width: 80%;
    padding: 3vw;
}

.wrapper.active1 .form-box.login {
    position: absolute;
    transform: translateX(-31vw);
}

.wrapper.active1 .form-box.register {
    position: absolute;
    transform: translateX(0);
}

/* mainscrbackup => tắt 2 cái dưới  */
/* .wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .form-box.register {
    position: absolute;
    transform: translateX(31vw);
} */

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.125vw;
    height: 3.125vw;
    background: #141414;
    font-size: 2.6vw;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.htext {
    cursor: context-menu;
    font-size: 2.5vw;
    color: #141414;
    text-align: center;
    font-family: 'Itim', cursive;
    font-weight: 600;
}

.htext2 {
    cursor: context-menu;
    font-size: 3vw;
    color: #1b1b1b;
    text-align: center;
    font-family: 'Itim', cursive;
    font-weight: 600;
}

.input {
    position: relative;
    width: 100%;
    height: 3.25vw;
    border-bottom: 0.2vw solid #141414;
    margin: 2.75vw 0;
}

.input label {
    position: absolute;
    top: 50%;
    left: 0.325vw;
    transform: translateY(-50%);
    font-size: 1.3vw;
    color: #141414;
    font-weight: 500;
    pointer-events: none;
    font-family: 'Itim', cursive;
    transition: .5s;
}

.input input:focus~label,
.input input:valid~label {
    top: -0.325vw;
}

/* .input input:focus~label,
.input input:valid~label,
.input input:invalid~label {
    top: -0.325vw;
} */

.input input {
    width: 85%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.3vw;
    color: #141414;
    font-weight: 600;
    font-family: 'Itim', cursive;
    padding: 0 3.875vw 0 0.325vw;
}

.input .icon {
    position: absolute;
    right: 1vw;
    font-size: 1.5vw;
    color: #141414;
    font-family: 'Itim', cursive;
    line-height: 3.33vw;
}

.remember-forgot {
    font-size: 1.25vw;
    color: #141414;
    font-weight: 500;
    font-family: 'Itim', cursive;
    display: flex;
    justify-content: space-between;
    margin: -0.975vw 0 0.975vw;
}

.remember-forgot label input {
    accent-color: #141414;
    margin-right: 0.275vw;
}

.remember-forgot a {
    cursor: context-menu;
    color: #141414;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 3.125vw;
    background-color: #141414;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #f9f9f9;
    font-family: 'Itim', cursive;
    font-weight: 500;
    font-size: 1.3vw;
}

.login-register {
    cursor: context-menu;
    font-size: 1.25vw;
    color: #141414;
    text-align: center;
    font-weight: 500;
    margin: 1.625vw 0 0.75vw;
    font-family: 'Itim', cursive;
}

.login-register p a {
    cursor: context-menu;
    color: #141414;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    cursor: context-menu;
    text-decoration: underline;
}